.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.column-1 {  flex-grow: 1; }
.column-2 {  flex-grow: 2; }
.column-3 {  flex-grow: 3; }
.column-4 {  flex-grow: 4; }
.column-5 {  flex-grow: 5; }
.column-6 {  flex-grow: 6; }
.column-7 {  flex-grow: 7; }
.column-8 {  flex-grow: 8; }
.column-9 {  flex-grow: 9; }
.column-10 {  flex-grow: 10; }
.column-11 {  flex-grow: 11; }
.column-12 {  flex-grow: 12; }
