.input {
  width: 100%;
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  color: inherit;
  background-color: inherit;
}
.check, .radio {
  width: 16px;
  height: 16px;
  position: relative;
  top: 1px;
}
br {
  clear: both;
}
